/* Nesse caso estamos importando o .css em outro .css para deixar menos poluido no HTML e tambem para carregar tudo de uma vez */
@import url("../Styles/header.css");
/* No import abaixo foi importado outro css, como se o Styles.css fosse o pai desses outros css */
@import url("../Styles/banner.css");
/* importanto o carrossel.css */
@import url("../Styles/carrossel.css");
/* Importando o topicos.css */
@import url("../Styles/topicos.css");
/* Importando o contato.css */
@import url("../Styles/contato.css");
/* Importando o rodape.css */
@import url("../Styles/rodape.css");
/* o root eh um seletor raiz do html, serve para deixar as definicoes/funcoes principais do sistema */
:root{
    --cor-de-fundo:#EBECEE;
    --branco:#ffffff;
    --laranja: #eb9b00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    /* Importa a fonte, depois coloca ela no ROOT com o sans-serif, depois so colocar na classe */
    --font-principal:"Poppins";
    --azul:#002F52;
    --black-white:#000000D9;
    --preto:#000000;
    --font-secundaria:"Josefin Sans";
    --cinza:#474646;
    --cinza-claro: #858585;
}
body{
    background-color: var(--cor-de-fundo);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-principal);
}

